html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  display: block;
}

/* Panel 2D */
#panel-2d {
  position: fixed;
  right: 16px;
  bottom: 16px;

  width: 360px;
  height: 360px;

  background: #0f0f0f;
  border: 1px solid #333;
  border-radius: 6px;

  box-shadow: 0 0 12px rgba(0,0,0,0.6);

  pointer-events: none; /* no interfiere con el 3D */
}
